@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lexend:wght@300;400;500;600;700;800&family=Mulish:wght@300;400;500;600;700;800&family=Patua+One&display=swap');

/* font-family: 'Caprasimo', serif;
font-family: 'Lexend', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Patua One', serif; */


html {
    margin: 0 !important;
    padding: 0 !important;
}

h1,
h4 {
    font-family: 'Patua One', serif;
}

p {
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: rgb(180, 154, 105);
}


.navbar,
.navbar-collapse .dropdown-menu {
    background-color: #0B1E47 !important;
}

.navbar a {
    color: #DDE0E3 !important;
}


.navbar-nav {
    /* background-color: orange !important; */
    text-align: right;
}

.navbar-toggler {
    border: none !important;

    /* border-color: white !important; */
}

.navbar-toggler {
    box-shadow: none !important;
    padding: 0 !important;
}

.navbar-toggler-icon {
    border: none !important;
    border-color: white !important;
    /* background-color: orange !important;
    color: white !important; */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 100%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-brand img {
    width: 100px;
    height: auto;
}



.dropdown-item:hover {
    background-color: #2D3C57 !important;
}

.navbar a {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

.navbar a:hover {
    color: #B84444 !important;
}






.carousel-inner {
    max-height: 80vh !important;
}

.banner {
    min-height: 65px !important;
    background-color: #ffe0bd !important;
    /* background-color: #B84444 !important; */
}

.welcome-hero {
    width: 80% !important;
}

.welcome-img {
    height: 400px !important;
}

.welcome-img img {
    /* object-fit: contain !important; */
    /* width: 200px; */
    object-fit: cover;
}

.menu-inner {
    width: 80% !important;
}

.menu-hero {
    background-color: #0B1E47 !important;
    color: white;
}

.gallery {
    background-color: #ffe0bd
}


.join-us {
    background-image: url(img/bg.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.493);
    background-position: center;
}

.location-map {
    background-color: #B84444 !important;
    color: white;
}

.footer {
    background-color: #0B1E47;
    color: white;
}

.footer img {
    width: 150px;
}

.footer ul {
    list-style: none;
}




@media (max-width: 992px) {

    li .dropdown-menu {
        text-align: right;
    }

    .welcome-hero,
    .menu-inner {
        width: 100% !important;
    }

    .welcome-text,
    .menu-text {
        padding-top: 30px;
    }

    .welcome-hero,
    .menu-hero {
        text-align: center;
    }

    .welcome-hero,
    .row {
        display: flex;
        justify-content: center;
    }

    .menu-hero,
    .row {
        display: flex;
        justify-content: center;
    }

    .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 540px) {
    .navbar-nav {
        text-align: center;
    }

    li .dropdown-menu {
        text-align: center;
    }
}